fastapi[standard]==0.115.13
pdfplumber==0.11.7
aiofiles==24.1.0
pyjwt==2.10.1
passlib[bcrypt]==1.7.4
openai==1.91.0
google-api-python-client==2.173.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
fastapi-mail==1.5.0